In [1]:
#importing relevant modules for analysis
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

In [2]:
#Loading the first dataset
df=pd.read_csv("C:/Users/Sally/Documents/Playstore_Data_Analysis/datasets/googleplaystore.csv")

In [3]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,7-Jan-18,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,1-Aug-18,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,8-Jun-18,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,20-Jun-18,1.1,4.4 and up

In [4]:
df.tail(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,19-Jan-15,Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,25-Jul-18,Varies with device,Varies with device

In [5]:
#length of dataset
dlength=len(df)
print(dlength)

10841

In [6]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [7]:
df.dtypes

App                object
Category           object
Rating            float64
Reviews             int64
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [8]:
df.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,25-Jul-17,1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,6-Jul-18,1,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,20-Jan-17,1,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,19-Jan-15,Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,25-Jul-18,Varies with device,Varies with device

In [9]:
#remove all duplicates in the dataset
df_clean = df.drop_duplicates(keep=False)
df_length=len(df_clean)
print(df_length)

9948

In [10]:
df_clean.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,25-Jul-17,1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,6-Jul-18,1,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,20-Jan-17,1,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,19-Jan-15,Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,25-Jul-18,Varies with device,Varies with device

In [11]:
#removing irrelevant columns
df_clean.drop(['App','Last Updated','Current Ver'],axis=1,inplace=True)
df_clean.head()

C:\Users\Sally\AppData\Local\Temp\ipykernel_8580\1825962246.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.drop(['App','Last Updated','Current Ver'],axis=1,inplace=True)

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Android Ver
0,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,4.0.3 and up
1,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,4.0.3 and up
2,ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,4.0.3 and up
3,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,4.2 and up
4,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,4.4 and up

In [12]:
df_clean['Category'].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION', nan],
      dtype=object)

In [13]:
df_clean[df_clean['Category'].isna()]

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Android Ver
10472,NaN,1.9,19,3.0M,"1,000+",Free,0,NaN,Everyone,4.0 and up

In [14]:
df_clean.drop(index=10472,inplace=True)
df_clean['Category'].unique()

C:\Users\Sally\AppData\Local\Temp\ipykernel_8580\3870778657.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.drop(index=10472,inplace=True)

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION'],
      dtype=object)

In [15]:
df_clean=df_clean.astype({'Category':'string'})
df_clean['Category']=df_clean['Category'].str.replace('_',' ')
df_clean.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Android Ver
0,ART AND DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,4.0.3 and up
1,ART AND DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,4.0.3 and up
2,ART AND DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,4.0.3 and up
3,ART AND DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,4.2 and up
4,ART AND DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,4.4 and up

In [16]:
df_clean[df_clean['Rating'].isna()]

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Android Ver
23,ART AND DESIGN,NaN,61,7.0M,"100,000+",Free,0,Everyone,Art & Design;Action & Adventure,4.1 and up
113,BEAUTY,NaN,182,5.7M,"100,000+",Free,0,Everyone 10+,Beauty,3.0 and up
123,BEAUTY,NaN,119,3.7M,"50,000+",Free,0,Everyone,Beauty,4.1 and up
126,BEAUTY,NaN,654,7.4M,"100,000+",Free,0,Teen,Beauty,4.1 and up
129,BEAUTY,NaN,77,2.9M,"10,000+",Free,0,Mature 17+,Beauty,2.3 and up
...,...,...,...,...,...,...,...,...,...,...
10824,MEDICAL,NaN,67,82M,"10,000+",Free,0,Everyone,Medical,4.4 and up
10825,SOCIAL,NaN,7,7.7M,100+,Free,0,Teen,Social,4.0 and up
10831,MAPS AND NAVIGATION,NaN,38,9.8M,"5,000+",Free,0,Everyone,Maps & Navigation,4.0 and up
10835,BUSINESS,NaN,0,9.6M,10+,Free,0,Everyone,Business,4.0 and up
10838,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,2.2 and up

In [20]:
mode_rating=df_clean.mode()['Rating'][0]
mode_rating
df_clean['Rating']=df_clean['Rating'].fillna(mode_rating)
df_clean['Rating'].unique()

array([4.1, 3.9, 4.7, 4.5, 4.3, 4.4, 3.8, 4.2, 4.6, 3.2, 4. , 4.8, 4.9,
       3.6, 3.7, 3.3, 3.4, 3.5, 3.1, 5. , 2.6, 3. , 2.5, 1. , 1.9, 2.9,
       2.8, 2.3, 2.2, 1.7, 2. , 1.8, 2.7, 2.4, 1.6, 2.1, 1.4, 1.5, 1.2])

In [40]:
df_clean=df_clean.astype({'Installs':'str'})
df_clean['Category']=df_clean['Category'].str.replace('_',' ')
df_clean.head()

ValueError: invalid literal for int() with base 10: 'ART AND DESIGN'

In [42]:
df_clean['Installs']=df['Installs'].astype(str).astype(int)
df_clean.dtypes

Category          string[python]
Rating                   float64
Reviews                    int64
Size                      object
Installs                   int32
Type                      object
Price                     object
Content Rating            object
Genres                    object
Android Ver               object
dtype: object

In [48]:
df_clean[df_clean['Type'].isna()]

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Android Ver
9148,FAMILY,4.4,0,Varies with device,0,NaN,0,Everyone 10+,Strategy,Varies with device

In [55]:
df_clean['Type'].fillna('Free',inplace=True)
df_clean['Type'].unique()

array(['Free', 'Paid'], dtype=object)

In [86]:
df_clean['Price']=df_clean['Price'].str.replace('$','')
df_clean['Price']=df_clean['Price'].astype(str).astype(float)
df.head()

In [90]:
df_clean['Price'].dtypes

dtype('float64')

In [91]:
df['Content Rating'].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated', nan], dtype=object)

In [101]:
#df_clean[df_clean['Content Rating'].isna()]

Empty DataFrame
Columns: [Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Android Ver]
Index: []

In [104]:
df_clean['Genres'].unique()

array(['Art & Design', 'Art & Design;Pretend Play',
       'Art & Design;Creativity', 'Art & Design;Action & Adventure',
       'Auto & Vehicles', 'Beauty', 'Books & Reference', 'Business',
       'Comics', 'Comics;Creativity', 'Communication', 'Dating',
       'Education;Education', 'Education', 'Education;Creativity',
       'Education;Music & Video', 'Education;Action & Adventure',
       'Education;Pretend Play', 'Education;Brain Games', 'Entertainment',
       'Entertainment;Music & Video', 'Entertainment;Brain Games',
       'Entertainment;Creativity', 'Events', 'Finance', 'Food & Drink',
       'Health & Fitness', 'House & Home', 'Libraries & Demo',
       'Lifestyle', 'Lifestyle;Pretend Play',
       'Adventure;Action & Adventure', 'Arcade', 'Casual', 'Card',
       'Casual;Pretend Play', 'Action', 'Strategy', 'Puzzle', 'Sports',
       'Music', 'Word', 'Racing', 'Casual;Creativity',
       'Casual;Action & Adventure', 'Adventure', 'Board', 'Trivia',
       'Simulation', 'Role Playing', 'Simulation;Education',
       'Action;Action & Adventure', 'Casual;Brain Games',
       'Simulation;Action & Adventure', 'Educational;Creativity',
       'Puzzle;Brain Games', 'Educational;Education', 'Card;Brain Games',
       'Educational;Brain Games', 'Educational;Pretend Play',
       'Entertainment;Education', 'Casual;Education',
       'Music;Music & Video', 'Racing;Action & Adventure',
       'Arcade;Pretend Play', 'Simulation;Pretend Play',
       'Puzzle;Creativity', 'Sports;Action & Adventure',
       'Educational;Action & Adventure', 'Arcade;Action & Adventure',
       'Entertainment;Action & Adventure', 'Puzzle;Action & Adventure',
       'Strategy;Action & Adventure', 'Music & Audio;Music & Video',
       'Health & Fitness;Education', 'Adventure;Education',
       'Board;Brain Games', 'Board;Action & Adventure',
       'Board;Pretend Play', 'Entertainment;Pretend Play',
       'Video Players & Editors;Creativity', 'Card;Action & Adventure',
       'Medical', 'Social', 'Shopping', 'Photography', 'Travel & Local',
       'Travel & Local;Action & Adventure', 'Tools', 'Tools;Education',
       'Personalization', 'Productivity', 'Parenting',
       'Parenting;Music & Video', 'Parenting;Education',
       'Parenting;Brain Games', 'Weather', 'Video Players & Editors',
       'Video Players & Editors;Music & Video', 'News & Magazines',
       'Maps & Navigation', 'Health & Fitness;Action & Adventure',
       'Role Playing;Pretend Play', 'Educational', 'Casino',
       'Adventure;Brain Games', 'Role Playing;Action & Adventure',
       'Trivia;Education', 'Lifestyle;Education',
       'Books & Reference;Creativity', 'Books & Reference;Education',
       'Puzzle;Education', 'Role Playing;Education',
       'Role Playing;Brain Games', 'Strategy;Education',
       'Racing;Pretend Play', 'Communication;Creativity',
       'Strategy;Creativity'], dtype=object)

In [108]:
df_clean.drop(['Genres'],axis=1,inplace=True)
df_clean.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Android Ver
0,ART AND DESIGN,4.1,159,19M,10000,Free,0.0,Everyone,4.0.3 and up
1,ART AND DESIGN,3.9,967,14M,500000,Free,0.0,Everyone,4.0.3 and up
2,ART AND DESIGN,4.7,87510,8.7M,5000000,Free,0.0,Everyone,4.0.3 and up
3,ART AND DESIGN,4.5,215644,25M,50000000,Free,0.0,Teen,4.2 and up
4,ART AND DESIGN,4.3,967,2.8M,100000,Free,0.0,Everyone,4.4 and up